$VeryDarkBlue: hsl(216, 12%, 8%);
$DarkBlue: hsl(213, 19%, 18%);

$DarkGrey: hsl(214, 10%, 29%);
$MediumGrey: hsl(216, 12%, 54%);
$LightGrey: hsl(217, 12%, 63%);
$White: hsl(0, 0%, 100%);

$Orange:hsl(25, 97%, 53%);


@font-face {
    font-family: Overpass;
    src: url(../Overpass/Overpass-VariableFont_wght.ttf);
}

*{
    // padding:0;
    // margin:0;
    box-sizing: border-box;
}
html,body{
    font-size:15px;
    min-height: 100vh;
    background-color: hsl(240, 12%, 11%);
    font-family: Overpass;
    color: $White;
}
main{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card{
    width:90%;
    max-width:350px;
   
    background-image:linear-gradient(0deg,$VeryDarkBlue,$DarkBlue);
    border-radius:1.5em;

    &-wrapper{
        padding:2em;
    }

    &__star{
        width:32px;
        height:32px;
        background-color:$DarkGrey ;
        border-radius: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.25em;
        
        

    }
    h1{
        font-size: 1.75rem;
        color: $White;
        margin-block: 0.5em;
    }
    p{
        color: $LightGrey;
        font-size:clamp(0.85rem,1.5vw,1rem) ;
    }

    .rating{
        display:flex;
        align-items: center;
        // gap:0.2em;
        justify-content: space-around;
        list-style-type: none;
        padding-inline-start: 0;
        color:$LightGrey;
        font-size:1.25rem;
        padding-inline:0.25em;
        padding-bottom:0.1em;

        &-item{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0.25em;
            font-size: 1rem;
            text-align: center;
            width:41px;
            height:40px;
            background-color: $DarkGrey;
            border-radius:50%;

            &:hover{
                background-color: $MediumGrey;
                color: $White;


            }
            &.active{
                background-color: $Orange;
                color: $White;
            }
          
        }


    }

    button{
        background-color:$Orange;
        color:$White;
        width:100%;
        border-radius:50px;
        padding:1em 2em;
        letter-spacing: 0.4em;
        font-weight: 700;
        border:none;
        font-family: inherit;
        
        &:hover{
            background-color:$White;
            color:$Orange;
        }
    }
}

.thanks{
    display:block;
    width:90%;
    max-width:350px;
   
    background-image:linear-gradient(0deg,$VeryDarkBlue,$DarkBlue);
    border-radius:1.5em;

    &-wrapper{
        padding:2.5em 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // gap:1.5rem;
    }
    &__illust{
        width:50%;
    }
    &__result{
        color: $Orange;
        background-color: $DarkBlue;
        padding:0.5em 0.75em;
        border-radius: 2em;
        margin: 1em 0;

    }

    &__title{
        font-size:1.75rem;
        font-weight: 700;
        margin-top:0.25em ;

    }

    p{
        text-align: center;
        color:$LightGrey;
        font-weight:400;
        font-size: 0.85rem;
    }

}

// @media (min-width:40em){
    
    
//     .card{
//         border-radius: 1.5em;

//         p{
//             font-size:
//         }
//     }
// }

